.technology-graph {
  margin-top: 20px;
  background-color: #ffffff;
  border: 1px solid #eeeeee; 
  .title {
    padding: 15px 10px;
    border-bottom: 1px solid #eeeeee;
  }
  .content {
    height: 200px;
  }
}
